@import 'https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic-ext';
html {
  font-size: 19px;
}
body {
  font-family: 'Ubuntu Condensed', sans-serif;
  margin: 0;
  padding: 0;
  color: #616473;
}
body * {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: #efefef;
}
::-webkit-scrollbar-thumb {
  background: #D9DADF;
  -webkit-border-radius: 5px;
}
